
  </main>
  <footer class="footer bg-dark p-5">
    <div class="row mt-3">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="{{ site.conference.navigation.footer.img | prepend:
    '/assets/images/' | prepend: site.baseurl }}" class="align-right" alt="{{ site.conference.navigation.logo.name }}" style="width:220px;height:156px;">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <p class="text-center text-light font-weight-bold">2nd Latin American Music Information Retrieval Workshop</p>
        <p class="text-center text-light">December 14 - 17, 2026</p>
        <p class="text-center text-light">Belo Horizonte, Brazil</p>
        <p class="text-center text-light"><a href="mailto:lamir.workshop@gmail.com">lamir.workshop@gmail.com</a></p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
      </div>
    </div>
  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  </footer>

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>
</body>
</html>

