{% assign organization = page %}

{%- include partials/header.html -%}

<div class="jumbotron">
  <h1 class="display-5 mb-3 d-print-none text-center">Organizing Committee</h1>
  <div class="row">
    {%- for s in site.data.organization.organizing_committee -%}
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="{{ s.logo | prepend: '/assets/headshots/' | prepend: site.baseurl }}" style="height:200px;width:200px;border-radius:50%;"/>
      <p>
        <h4>{{s.name}}</h4>
      </p>
      <p>
        {{s.org}}
      </p>
    </div>
    {%- endfor -%}
  </div>
</div>

<br>

<div class="jumbotron">
  <h1 class="display-5 mb-3 d-print-none text-center">Scientific Program Committee</h1>
  <div class="row">
    {%- for s in site.data.organization.scientific_program_committee -%}
    <div class="col-lg-6 col-md-6 col-sm-12 text-center my-3">
      <img src="{{ s.logo | prepend: '/assets/headshots/' | prepend: site.baseurl }}" style="height:200px;width:200px;border-radius:50%;"/>
      <p>
        <h4>{{s.name}}</h4>
      </p>
      <p>
        {{s.org}}
      </p>
    </div>
    {%- endfor -%}
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-5 mb-3 d-print-none text-center">Logistics Committee</h1>
  <div class="row">
    {%- for s in site.data.organization.logistics_committee -%}
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="{{ s.logo | prepend: '/assets/headshots/' | prepend: site.baseurl }}" style="height:200px;width:200px;border-radius:50%;"/>
      <p>
        <h4>{{s.name}}</h4>
      <p>
        {{s.org}}
      </p>
    </div>
    {%- endfor -%}
  </div>
</div>


{% include partials/footer.html %}
