{% assign sponsors = page %}

{%- include partials/header.html -%}


<!-- <div class="d-flex flex-md-row flex-column container-fluid mb-2 p-0"> -->
<!--   <div class="h6 mt-2 mb-0 mr-1 pr-1 pb-1"> -->
<!-- 	  {{ content }} -->
<!-- 	  <!-1- Test -1-> -->
<!-- 	  <!-1- test -1-> -->
<!--   </div> -->
<!-- </div> -->

<div class="container my-5">
  <h2 class="text-center">Financial Sponsors</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="../assets/images/capes.jpg" class="img-fluid" alt="Institutional Sponsor 1">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="../assets/images/khipu.png" class="img-fluid" alt="Institutional Sponsor 2">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="../assets/images/ismir.png" class="img-fluid" alt="Institutional Sponsor 3">
    </div>
  </div>

  <h2 class="text-center mt-5">Institutional Sponsors</h2>
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 text-center my-3">
      <img src="../assets/images/ufrj.png" class="img-fluid" alt="Logo 1">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 text-center my-3">
      <img src="../assets/images/jku_side.png" class="img-fluid" alt="Logo 2">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 text-center my-3">
      <img src="../assets/images/udelar.png" class="img-fluid" alt="Logo 3">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 text-center my-3">
      <img src="../assets/images/upf.png" class="img-fluid" alt="Logo 4">
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 text-center my-3">
      <img src="../assets/images/nyu.png" class="img-fluid" alt="Logo 5">
    </div>
  </div>
</div>


{% include partials/footer.html %}
