{% assign sponsors = page %}

{%- include partials/header.html -%}

<div class="container">
  <h2 class="text-center">Sponsors</h2>
  <div class="row">
    {%- for s in site.conference.sponsors.sponsors -%}
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="{{ s.logo | prepend: '/assets/images/' | prepend: site.baseurl }}" class="img-fluid" alt="{{ s.full_name }}" />
    </div>
    {%- endfor -%}
  </div>

  <br>

  <h2 class="text-center">Institutional Support</h2>
  <div class="row">
    {%- for s in site.conference.sponsors.institutional_support -%}
    <div class="col-lg-4 col-md-6 col-sm-12 text-center my-3">
      <img src="{{ s.logo | prepend: '/assets/images/' | prepend: site.baseurl }}" class="img-fluid" alt="{{ s.full_name }}" />
    </div>
    {%- endfor -%}
  </div>
</div>


{% include partials/footer.html %}
